{{#each matches}}

  {{#if opponent}}
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Match Time: {{time}}</h3>
      </div>

  {{else}}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Match Time: {{time}}</h3>
      </div>
  {{/if}}

      <div class="panel-body">
        <p> Match Host:  {{hostUser}} </p>
        <p> Opponent: {{opponent}} </p>
        <!-- <form id="patch-match">
          <fieldset>
            <! <legend>Update Match Opponent </legend> -->
            <!-- <input type ="text" id="update-opponent-name" placeholder="Opponent Name">
          </fieldset>
        </form>  -->
        <br></br>
        <button class='updateRemoveOpponentButtons' data-match-id-remove='{{_id}}' data-match-opponent-id='{{opponent}}' data-match-owner-id='{{_owner}}'>Remove Opponent</button>
      </div>

    </div>



{{/each}}
