{{#each matches}}

  {{#if opponent}}
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Match Time: {{time}}</h3>
      </div>

  {{else}}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Match Time: {{time}}</h3>
      </div>
  {{/if}}

      <div class="panel-body">
        <p> Match Host:  {{hostUser}} </p>
        <p> Opponent: {{opponent}} </p>
        <form id="patch-match">
          <fieldset>
            <legend>Update Match Opponent </legend>
             <!-- <input type ="text" id="update-opponent-name" placeholder="Opponent Name"> -->
            <input type ="text" class="update-opponent-name" placeholder="Opponent Name">
            <input type="submit" name="submit" value="Update Opponent!" class='updateButtons' data-match-id='{{_id}}' data-match-opponent-id='{{opponent}}' data-match-owner-id='{{_owner}}'>
          </fieldset>
        </form>
        <br></br>
        <!-- <button class='updateButtons' data-match-id='{{_id}}' data-match-opponent-id='{{opponent}}' data-match-owner-id='{{_owner}}'>Update</button> -->
        <p class="message"> </p>
      </div>

    </div>



{{/each}}
